
  :root {
    /*  variables letter-spacing: 0.06em; letter-spacing: 0.02em;*/
        --main-color: #212121;
        --secondary-color: #757575;
        --accent-color: #2196f3;
        --btn-color: #F5F4FA;
        --bg-color: #2F303A;
        --bg-decoration: #AFB1B8;
        --hover-color: #188CE8;
        --main-font:  "Roboto", "Arial", sans-serif;
    }
    